/* main page css */
.leading_form{ background: #4267a8;height: 100vh; }
.leading_form .formBox{height: 400px;}
.leading_form .cont-back{ background: transparent;box-shadow: 0 0 0 0;}
.leading_form h3{color: #fff;}
.leading_form .contact{padding-top: 12%;padding-bottom: 10%;}
.leading_form .contactform{padding-top: 5%;}
.leading_form .consultation h3{color: #000;}
.leading_logo #logo {width: 20%; margin: 0 auto; padding-bottom: 5%;position: relative;}
.leading_form .formBox{border-radius: 10px;}
.leading_footer .copyright{ margin: 1% 0 0 0;}
@media screen and (max-width: 640px){
#cont-back {width: 100%;  margin: 0 auto; background: 0 0;}
#contact h3 { font-size: 2.5rem;}
.leading_logo #logo {width: 40%;}
}